<h1>Listing sample_models</h1>

<table>
  <thead>
    <tr>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_models.each do |sample_model| %>
      <tr>
        <td><%= sample_model.schedule %></td>
        <td><%= link_to 'Show', sample_model %></td>
        <td><%= link_to 'Edit', edit_sample_model_path(sample_model) %></td>
        <td><%= link_to 'Destroy', sample_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample model', new_sample_model_path %>
